<!DOCTYPE html>
<html>
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diverse UI</title>
    <!-- Search Engine -->
    <meta name="author" content="Renee Padgham &amp; Yefim Vedernikoff">
    <meta name="description" content="Diverse UI is a free collection of diverse user-submitted images that can be used in your design work.">
    <meta name="image" content="https://diverseui.com/img/diverseuimeta.png">
    <meta name="robots" content="NOODP">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Diverse UI">
    <meta itemprop="description" content="Diverse UI is a free collection of diverse user-submitted images that can be used in your design work.">
    <meta itemprop="image" content="https://diverseui.com/img/diverseuimeta.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Diverse UI">
    <meta name="twitter:description" content="Diverse UI is a free collection of diverse user-submitted images that can be used in your design work.">
    <meta name="twitter:image:src" content="https://diverseui.com/img/diverseuimeta.png">
    <!-- Open Graph general (Facebook, Pinterest and Google+) -->
    <meta name="og:title" content="Diverse UI">
    <meta name="og:description" content="Diverse UI is a free collection of diverse user-submitted images that can be used in your design work.">
    <meta name="og:image" content="https://diverseui.com/img/diverseuimeta.png">
    <meta name="og:url" content="https://diverseui.com/">
    <meta name="og:site_name" content="Diverse UI">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">

    <link rel="icon" type="image/png" href="https://diverseui.com/img/favicon.png" />

    <link rel="stylesheet" href="styles/normalize-compiled.css" />
    <link rel="stylesheet" href="styles/styles-compiled.css">
    {% block css %}{% endblock %}

    <script src="https://use.typekit.net/zzo2jwa.js"></script>
    <script>
      try {
        Typekit.load({
          async: true
        });
      } catch (e) {}
    </script>
  </head>
  <body class="site">
    <div class="menu">
      <a href="/about.html">About</a>
      <a href="https://github.com/reneepadgham/diverseui-sketch-plugin#readme">Sketch Plugin</a>
      <a href="/submit.html" class="button">Submit</a>
    </div>

    <header>
      <div class="header-content-wrap">
        <div class="header-section">
          <a href="/" class="logo"><img src="img/logo.png" /></a>
        </div>
        <div class="header-section links">
          <a href="/about.html">About</a>
          <a href="https://github.com/reneepadgham/diverseui-sketch-plugin#readme">Sketch Plugin</a>
          <a href="/submit.html" class="button">Submit</a>
        </div>
        <div class="header-section mobile">
          <button class="hamburger hamburger--collapse mobile-menu-button" id="menu" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <div class="footer-content-wrap">
        <div class="footer-section">
          <p>&copy; Diverse UI 2017 | <a href="/terms.html">Terms of Service</a></p>
        </div>
        <div class="footer-section">
          <p>Made with 💖 and ☕ in San Francisco by <a href="https://renee.im" target="_blank">Renee</a> and <a href="https://www.yef.im" target="_blank">Yefim</a>.</p>
        </div>
      </div>
    </footer>

    {% block js %}{% endblock %}
  </body>
</html>
