<!DOCTYPE html>
<html>
  <head>
    <title>Diverse UI</title>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/styles-compiled.css">
    {% block css %}{% endblock %}
  </head>
  <body class="site">
    <div class="menu">
      <a href="#">About</a>
      <a href="https://github.com/reneepadgham/diverseui-sketch-plugin#readme">Sketch Plugin</a>
      <a href="#" class="button">Submit</a>
    </div>

    <header>
      <div class="header-content-wrap">
        <div class="header-section">
          <a href="#" class="logo"><img src="#" /></a>
        </div>
        <div class="header-section links">
          <a href="#">About</a>
          <a href="https://github.com/reneepadgham/diverseui-sketch-plugin#readme">Sketch Plugin</a>
          <a href="#" class="button">Submit</a>
        </div>
        <div class="header-section mobile">
          <button class="hamburger hamburger--collapse mobile-menu-button" id="menu" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <div class="footer-content-wrap">
        <div class="footer-section">
          <p>&copy; Diverse UI 2017 | <a href="#">Terms of Service</a></p>
        </div>
        <div class="footer-section">
          <p>Made with 💖 and ☕ in San Francisco by <a href="https://renee.im" target="_blank">Renee</a> and <a href="https://www.yef.im" target="_blank">Yefim</a>.</p>
        </div>
      </div>
    </footer>

    {% block js %}{% endblock %}
  </body>
</html>
