{% extends "layout.html" %}

{% block content %}
<div class="page-container">
  <h1>Submit Your Photo</h1>
  <p>Thanks for sharing - this site wouldn't be possible without you! Before you Facebook auth, here are a few things to note:</p>
  <ul>
    <li>You're giving designers permission to use your photo in both mockups and live products (such as websites)</li>
    <li>This photo is of you and only you</li>
    <li>You have the rights to this picture</li>
    <li>This is a photograph of you - not a logo, graphic, or illustration of any kind</li>
    <li>It doesn't contain any hateful, racist, or otherwise discriminatory content</li>
  </ul>
  <p>Don't worry - we explicitly forbid using your photo for hateful, racist, discriminatory, or otherwise evil content in our <a href="/terms.html">terms.</a></p>
  <a style="display: block; padding: 0 16px; float: right; margin-top: 32px;" href="https://www.facebook.com/v2.8/dialog/oauth?client_id=461230067541653&redirect_uri=https://www.diverseui.com/auth?scope=public_profile,email" class="button submit">Upload my Facebook photo</a>
</div>
{% endblock %}
